
@media (max-width:768px){
    
.navbar{
            display:none !important;
        }
.navbar-mobile{
    display:block !important;
    height:10vh;
    width:100vw;
    background-color:white;
      position:sticky;
            top: 0px;
}
.footer-container{
  flex-wrap: wrap;
}
.footer-content{
  flex-basis: 100% !important;
}
.footer-logo{
  flex-basis: 100% !important;
   margin-top:40px;
}
.social-media-list{
  display: flex !important;
  justify-content: space-evenly !important;

}
.banner-title{
  font-size: 1.9rem !important;
}
}
@media (max-width:600px){
  .feature-item__header-text {
    font-size: 1.5rem;
  }


}
@media (max-width:425px){
  .feature-item__header-text {
    font-size: 1rem;
  }
  .arrow{
    font-size: 28px !important;
  }

}
@media (max-width:425px){
  .banner-text {
    padding-right: 0% !important;
}

}